<div class="box">
    <div class="row skeleton p-3">
        <div class="col-xxl-2 col-xl-3 col-lg-4 col-12 me-4 skeleton-left">
            <div class="circle"></div>
        </div>
        <div class="col-xxl-7 col-xl-6 col-lg-6 col-12 mt-auto mb-auto skeleton-right">
            <div class="line w-50 mb-2"></div>
            <div class="line w-25"></div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-12 col-12 mt-auto mb-auto text-center ms-auto">  
            <div class="circle-message"></div>
        </div>
    </div>
</div>
